body{
    background-color: #f15e96;
} 
p{
    font-size: 30px;
    background-color: cornflowerblue;
    color: darkgreen;
    font-family: "Comforter", cursive;
    text-align: center;
}
table{
    font-size: 24px;
    border: 5px solid darkgreen;
}
th, td{
    border: 2px solid darkgreen;
    width: 25%;
    height: 1.5cm;
    text-align: center;
}
tr:hover{
    background-color: rosybrown;
}
td:hover{
    background-image: url(https://i.pinimg.com/originals/a9/02/66/a90266baf419898aef0855082c0d653f.gif);
    font-weight: bold;
    color: red;
}
tr:nth-child(even){
    background-color: #b2cbf1;
}
tr:nth-child(odd){
    background-color: #c4f7d5;
}
.p1{
    color: #E0FFFF;
}
.p2{
    color: #0F52BA;
}
.p3{
    color: #E0115F;
}
.p4{
    color: #50C878;
}
.p5{
    color: #9966CC;
}